<!-- Navbar layout -->
<div ng-include="'views/user/navbar.html'"></div>

<!-- Content Layout -->
<div id="main-wrapper" class="row grey darken-3">

    <!-- Form layout -->
    <div ng-include="'/views/user/form.html'"></div>

    <!-- Loader layout  -->
    <div ng-include="'/views/common/loader.html'" ng-if="loading"></div>

    <!-- Tabs layout  -->
    <div ng-include src="contentUrl" ng-if="tab_content"></div>

    <!-- Search result layout  -->
    <div ng-include="'/views/user/search_result.html'" ng-if="search_result"></div>

</div>

<!-- Footer layout -->
<div ng-include="'views/common/footer.html'"></div>