<div id="panelRight" class="col s12">
	<div class="row ng-scope" ng-if="!favactors.length">
		<div class="card-panel col m6 offset-m3 orange lighten-3">
			<h5 class="center-align">Aun no tenes actores favoritos!</h5>
		</div>

		<!-- Tips layout -->
		<div ng-include="'/views/user/tips.html'"></div>
	</div>
	<div class="row" ng-if="!loading && favactors.length">
		<div class="col s12 m12">
			<h5 class="grey-text">Actores favoritos ({{ favactors.length }})</h5>
		</div>
		<div id="favactors" class="col s12 m6 offset-m3">
			<div class="row section-wrapper">
				<!--<pagination
						page="pagination_result.page"
						page-size="pagination_result.page_size"
						total="pagination_result.total_results"
						show-prev-next="true"
						use-simple-prev-next="false"
						dots="...."
						hide-if-empty="false"
						adjacent="2"
						scroll-top="false"
						pagination-action="dashboard.paginateFavactors(pagination_result.page)" />
						-->
				<ul class="collection with-header">
					<li ng-repeat="favactor in favactors" class="collection-item avatar">
						<div class="details-wrapper-{{ favactor }}">
							<br>
							<p>Cargando detalles del actor...</p>
							<div class="progress">
								<div class="indeterminate"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>