<div id="panelRight" class="col s12">
	<div class="row list-wrapper" ng-if="!loading">
		<div class="col s12">
			<ul class="tabs grey darken-4">
				<li class="tab col s4"><a href="#/dashboard/recommended">Peliculas Recomendadas</a></li>
				<li class="tab col s4"><a class="active" href="#/dashboard/favmovies">Listas de peliculas favoritas</a></li>
				<li class="tab col s4"><a href="#/dashboard/favactors">Actores favoritos</a></li>
			</ul>
		</div>

		<div id="favmovies" class="col s12 m6 offset-m3">
			<div class="row section-wrapper">
				<ul class="collection with-header">
					<li class="collection-header"><h4>Listas de peliculas favoritas</h4></li>
					<li ng-repeat="favmovie in favmovies" class="collection-item">
						<span class="title">{{ favmovie.name}} </span>
						<p>Peliculas: {{ favmovie.movies.length }}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>