<div class="row form-wrapper grey darken-3" ng-controller="SearchController as search">
    <form class="col s12" name="search.searchForm">
        <div class="row container">
            <div class="input-field col s12 m4">
                <div class="col s12 m12">
                    <input name="type" type="radio" id="movie" value="movie" ng-model="search.controls.type"/>
                    <label for="movie">Pelicula</label>

                    <input name="type" type="radio" id="actor" value="actor" ng-model="search.controls.type"/>
                    <label for="actor">Actor</label>

                    <input name="type" type="radio" id="full" value="full" ng-model="search.controls.type"/>
                    <label for="full">Ambos</label>
                </div>
            </div>
            <div class="input-field col s12 m5">
                <i class="material-icons prefix hide-on-med-and-down">search</i>
                <input id="icon_prefix" type="text" class="validate" ng-model="search.term" ng-required="true">
                <label for="icon_prefix">Nombre</label>
            </div>
            <div class="input-field col s12 m3">
                <a class="waves-effect waves-light btn" ng-click="search.search()" ng-disabled="!search.searchForm.$valid">Buscar!</a>
            </div>
        </div>
    </form>
</div>