<nav>
    <div class="nav-wrapper light-blue darken-3">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="hide-on-med-and-down">
            <li>
                <a href="#/dashboard/recommended">&nbsp;&nbsp;Show must go on</a>
            </li>
            <li class="active"><a href="#/dashboard/recommended">Inicio</a></li>
            <li class="right"><a href="#/logout"><i class="material-icons left">perm_identity</i>Salir</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li class="right"><a href="#/logout"><i class="material-icons left">perm_identity</i>Salir</a></li>
        </ul>
    </div>
</nav>