<div id="panelRight" class="col s12">
	<div class="row list-wrapper" ng-if="!loading">

		<div class="col s12 m12">
			<h6 class="grey-text left-align">Listado de recomendaciones ({{ movies.length }})</span>
			</h6>
		</div>

		<div id="recommended" class="col s12 m12">
			<div class="row section-wrapper">
				<div ng-repeat="movie in movies" class="col s12 m6">
					<div class="card horizontal">
						<div class="card-stacked">
							<div class="card-content">
								<h5 class="header">{{ movie.title }}</h5>
							</div>
							<div class="card-action">
								<a ng-click="dashboard.openModalMovieDetails(movie.id)">Mas info...</a>
								<a class="dropdown-button btn right" href="javascript:void(0);" data-activates="favmoviesDropdown-{{movie.id}}" dropdown data-hover="true">
									Agregar a la lista...
								</a>
								<!-- Dropdown Structure -->
								<ul id="favmoviesDropdown-{{movie.id}}" class="dropdown-content">
								    <li ng-repeat="favmovie in favmovies">
								    	<a ng-click="dashboard.addMovieToFavmovie(movie.id, favmovie.id)">{{ favmovie.name }}</a>
								    </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


