<div id="panelRight" class="col s12">
	<div class="row list-wrapper" ng-if="!loading">

		<div class="col s12 m12">
			<h6 class="grey-text left-align">Listado de recomendaciones ({{ movies.length }})</span>
			</h6>
		</div>

		<div id="t1" class="col s12 m12">
			<div class="row section-wrapper">
				<div ng-repeat="movie in movies" class="col s12 m3">
					<div class="card horizontal">
						<div class="card-image">
							<img src="{{ movie.images[0].path ? movie.images[0].path : '' }}">
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<h5 class="header">{{ movie.title }}</h5>
								<p>{{ movie.description }}</p>
							</div>
							<div class="card-action">
								<a href="#">Mas info...</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
