<div id="panelRight" class="col s12">
	<div class="row ng-scope" ng-if="!loading && !movies.length">
		<div class="card-panel col m6 offset-m3 orange lighten-3">
			<h5 class="center-align">Aun no tenes recomendaciones!</h5>
		</div>
		<!-- Tips layout -->
		<div ng-include="'/views/user/tips.html'"></div>
	</div>
	<div class="row" ng-if="!loading && movies.length">
		<div class="col s12 m12">
			<h5 class="grey-text">Recomendaciones ({{ movies.length }})</h5>
		</div>
		<div id="recommended" class="col s12 m12">
			<div class="row section-wrapper recommended-wrapper">
				<div ng-repeat="movie in movies" class="col s12 m6">
					<div class="card horizontal">
						<div class="card-stacked">
							<div class="card-content card-content-compact">
								<h5 class="header">{{ movie.title }}</h5>
							</div>
							<div class="card-action">
								<a ng-click="dashboard.openModalMovieDetails(movie.id)">Mas info...</a>
								<a class="dropdown-button btn right" href="javascript:void(0);" data-activates="favmoviesDropdown-{{movie.id}}" dropdown data-hover="true">
									Agregar a la lista...
								</a>
								<!-- Dropdown Structure -->
								<ul id="favmoviesDropdown-{{movie.id}}" class="dropdown-content">
								    <li ng-repeat="favmovie in favmovies">
								    	<a ng-click="dashboard.addMovieToFavmovie(movie.id, favmovie.id)">{{ favmovie.name }}</a>
								    </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


