<div id="panelRight" class="col s12">
	<div class="row" ng-if="!loading">
		<div class="col s12 m12">
			<h5 class="grey-text">Actores favoritos de todos los usuarios (5)</h5>
		</div>
		<div id="favactors" class="col s12 m6 offset-m3">
			<div class="row section-wrapper">
				<ul class="collection with-header">
					<li ng-repeat="(name, total) in ranking_favactors" class="collection-item">
						<span>{{ name }}</span>
						<span class="new badge" data-badge-caption="favoritos">{{ total }}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>