<div id="panelRight" class="col s12">
	<div class="col s12 m12">
		<h6 class="grey-text left-align">Listado de usuarios ({{ users.length }})</h6>
	</div>

	<br>

	<div id="users" class="col s12 m10 offset-m1 white" style="margin-top:20px;">
		<div class="row">
			<table class="striped">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Nivel</th>
						<th>Listas de peliculas favoritas</th>
						<th>Detalles</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="user in users">
						<td>{{ user.user_name}}</td>
						<td>{{ user.nivel }}</td>
						<td>
							<span class="chip" ng-repeat="fm in user.fav_movies">
								<a ng-click="dashboard.getFavmovieDetails(fm)" data-target='userDetails' modal>{{ fm.name }} ({{ fm.movies.length }})</a>
							</span>
						</td>
						<td>
							<a ng-click="dashboard.getDetailsUser(user.id)" class="btn" data-target='userDetails' modal>Ver</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>