<div class="col s12 nested-top-wrapper">
  <footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col s12 l8">
        <h5 class="white-text">TACS 1C2017 - TP grupal</h5>
        <p class="grey-text text-lighten-4">El objetivo del TP es desarrollar una aplicación que permita a los usuarios interactuar con la API de The Movie Database creando así una app con diversos casos de uso relacionados a las películas y actores provistos por la API.
          <br>
          La aplicación funcionará de modo stand alone, y estará publicada en la nube para ser accedida.</p>
        <br>
        <div class="divider grey darken-3"></div>
        <br>
        <div class="row">

          <div class="col m4">
            <a href="https://docs.google.com/document/d/1Dvydn8WtLzCuI7VqrAdAHL8FNXPYnDTZrio7c-WV_Kk/pub" target="_blank" class="text-light-blue text-darken-3">
              <i class="material-icons left">subject</i>Definición del proyecto
            </a>
          </div>
          <div class="col m4">
            <a href="https://app.swaggerhub.com/apis/tacs-g5/show-must-go-on/1.0.0" target="_blank" class="text-light-blue text-darken-3">
              <i class="material-icons left">http</i>API DOC in swagger
            </a>
          </div>
          <div class="col m4">
            <a href="https://github.com/carlossagala/TACS---Show-must-go-on" target="_blank" class="text-light-blue text-darken-3">
              <i class="material-icons left">code</i>Proyecto en github
            </a>
          </div>

        </div>
      </div>
      <div class="col offset-l1 s12 l2">
        <h5 class="teal-text text-lighten-1">Grupo 5</h5>
        <ul>
          <li><span class="teal-text text-lighten-3">Guillermo Grillo</span></li>
          <li><span class="teal-text text-lighten-3">Alejandro Hierro</span></li>
          <li><span class="teal-text text-lighten-3">Carlos Sagala</span></li>
          <li><span class="teal-text text-lighten-3">Maximiliano Broinsky</span></li>
          <li><span class="teal-text text-lighten-3">Matias Rios</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright black">
    <div class="container">
      <p class="center-align">
        © 2017 Show must go on! - <a href="http://tacs-utn.com.ar" target="_blank" class="grey-text text-lighten-2" >TACS UTN FRBA</a>
      </p>
    </div>
  </div>
  </footer>
</div>