<!-- Modal User/Favmovie Details Structure -->
<div id="userDetails" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div id="user-details-header-wrapper"></div>
        
        <div id="user-details-loader">
            <br>
            <p>Cargando detalles...</p>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div id="user-details-body-wrapper" class="section-wrapper"></div>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>