<ul class="side-nav fixed grey darken-4" ng-if="is_admin">
    <li>
        <div class="userView">
            <div class="background">
                <img width="300" src="images/bg_user.jpg">
            </div>
            <a href="#/dashboard/users"><i class="medium material-icons">perm_identity</i></a>
            <a href="#/dashboard/users"><span class="name">{{ username }}</span></a>
            <br>
        </div>
    </li>

    <li><a class="subheader grey-text">Dashboard admin</a></li>
    <li><a class="blue-text" href="#/dashboard/users">Usuarios Registrados</a></li>
    <li><a class="blue-text" href="#/dashboard/ranking-favactors">Ranking actores favoritos</a></li>

    <li><div class="divider grey darken-3"></div></li>
    <li><a class="subheader grey-text">Dashboard user</a></li>
    <li><a class="waves-effect white-text" href="#/dashboard/recommended">Recomendaciones</a></li>
    <li><a class="waves-effect white-text" href="#/dashboard/favmovies">Listas de peliculas favoritas</a></li>
    <li><a class="waves-effect white-text" href="#/dashboard/favactors">Lista de actores favoritos</a></li>
</ul>

<ul class="side-nav fixed grey darken-4" ng-if="!is_admin">
    <li>
        <div class="userView">
            <div class="background">
                <img width="300" src="images/bg_user.jpg">
            </div>
            <a href="#/dashboard/recommended"><i class="medium material-icons">perm_identity</i></a>
            <a href="#/dashboard/recommended"><span class="name">{{ username }}</span></a>
            <br>
        </div>
    </li>
    <li><a class="subheader grey-text">Dashboard</a></li>
    <li><a class="white-text" class="waves-effect" href="#/dashboard/recommended">Recomendaciones</a></li>
    <li><a class="white-text" class="waves-effect" href="#/dashboard/favmovies">Listas de peliculas favoritas</a></li>
    <li><a class="white-text" class="waves-effect" href="#/dashboard/favactors">Lista de actores favoritos</a></li>
</ul>