<nav>
    <div class="nav-wrapper light-blue darken-3">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="hide-on-med-and-down">
            <li>
                <a href="#">&nbsp;&nbsp;Show must go on</a>
            </li>
            <li class="active"><a href="#">Inicio</a></li>
            <!--<li><a href="#" id="startTalking" data-status="inactive">Start talking...</a></li>-->
            <li><a href="#" id="switchTheme" data-status="inactive"><i class="material-icons left">invert_colors</i>Cambiar tema</a></li>
            <li class="right"><a href="#"><i class="material-icons left">perm_identity</i>Mi cuenta</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#">Home</a></li>
            <li><a href="#" ng-click="main.startTheater()">Start talking...</a></li>
            <li class="right"><a href="#"><i class="material-icons left">perm_identity</i>Mi cuenta</a></li>
        </ul>
    </div>
</nav>
<script type="text/javascript">
    $(".button-collapse").sideNav();

    $('#switchTheme').on('click', function(){
        var isDark = $('body').hasClass('dark-theme');
        localStorage.setItem('theme', isDark? 'dark-theme':'default');

        if(localStorage.getItem('theme')==='dark-theme'){
            $('body').removeClass('dark-theme');
            $('#main-wrapper, .tabs').removeClass('grey darken-3');
            $('.form-wrapper').removeClass('grey darken-3').addClass('grey lighten-4');
        }
        else {
            $('body').addClass('dark-theme');
            $('#main-wrapper, .tabs').addClass('grey darken-3');
            $('.form-wrapper').addClass('grey darken-3').removeClass('grey lighten-4');
        }
    })
</script>